body {
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    background-image: url('../../img/background.png');
    background-size: cover;
    height: 3456.876px;
}

.container {
    margin: 0 auto;
    width: 1090px;
    background-color: var(--main__color);
}

#line {
    width: 536px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    color: #000;   
    
    margin-top: 36px;
    margin-bottom: 36px;
}

h2 {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-weight: 400;
}

.lupa {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    height: 15px;    
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0px 20px 20px 0px;
    background: #000;

    

    
    width: 35px;
}

input {
    display: inline-flex;
    padding: 10px 55px 10px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #D7D7D7;
    border: none;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));

    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
}

button {
    border: none;
}