.enter-modal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    width: 576px;
    height: 316px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #FFF;

    background-color: grey;

    text-align: center;
}

.enter-modal-text {
    
}

.enter-modal-container {
    
}

.enter-modal-title {
    
}

#enter-modal-form {
    display: flex;
    flex-direction: column;
}

.enter-modal-button {
    
}