.calculator-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-title {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 36px;
}

.calculator-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-calculator-input,
.second-calculator-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 38px;
    height: 35px;
    width: 135px;


}

.calculator-buttons-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;


}





.calculator-button {
    padding: 5px 10px;
    border-radius: 20px;
    background: #000;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;

    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active-calc-btn {
    outline: 2px solid rgb(18, 180, 18);
    box-shadow: none;
    transition: 600ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    top: 2px;
    left: 2px;
    animation-name: to;
    animation-duration: 0.5s;
}

.calculator-equals {
    padding: 5px 10px;
    border-radius: 20px;
    background: #000;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;

    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    animation-name: back;
    animation-duration: 0.5s;


}

@keyframes to {
    from {top: 0px;
        left: 0px;}
    to {top: 2px;
        left: 2px;}
  }

  @keyframes back {
    from {top: 2px;
        left: 2px;}
    to {top: 0px;
        left: 0px;}
  }

.calculator-output {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #D7D7D7;
    border: none;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
    color: #7E7E7E;


    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    margin: 38px;
    position: relative;
    top: 1px;
    height: 35px;
    width: 135px;
}

.first-calculator-input,
.second-calculator-input ::-webkit-input-placeholder {
    text-align: center;
  }

  .second-calculator-input, .first-calculator-input ::-webkit-input-placeholder {
    text-align: center;
  }