.calculator-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-calculator-input, .second-calculator-input {
    margin: 38px;
}

.calculator-buttons-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;


}

.active-calc-btn {
    outline: 2px solid rgb(18, 180, 18);
}



.calculator-button {
    padding: 5px 10px;
    border-radius: 20px;
    background: #000;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;

    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.calculator-equals {
    padding: 5px 10px;
    border-radius: 20px;
    background: #000;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;

    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.calculator-output {
    display: flex;
    padding: 10px 55px 10px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #D7D7D7;
    border: none;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));

    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
}