#mainTitle {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;

    display: flex;
    justify-content: center;
}


.check-title {
    margin-bottom: 36px;
}

.check-container {
    margin: 0 auto;
    width: 576px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-input {
    width: 160px;
}

.check-input-box {
    width: 215px;
}

.check-text {
    color: #900;
    text-align: right;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
}
