#mainTitle {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    padding-bottom: 36px;
}

.check-year-section {
    
    
}

.check-title {

}

.check-container {
    display: flex;
    justify-content: center;
}

.input-box {
    display: flex;
    align-items: center;

    margin-right: 149px;
    height: 35px;
}

.check-input {
    
}

.check-button {
    
}



.check-text {

}
