#mainTitle {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    padding-bottom: 36px;
}

.check-year-section {
    
}

.check-title {

}

.check-container {

}

.input-box {

}

.check-input {

}

.lupa {
    width: 15px;
    height: 15px;
    background-color: #000;
}

.check-text {

}
