.football__field {
    width: 640px;
    height: 406px;
    border-radius: 20px;
    border: 2px solid var(--secondary__color);   
    background-color: #5ABB58;
    background-image: url(/img/field.png);
    margin: 0 auto;
}

.ball {
    position: relative;
    top: 185px;
    left: 300px;
    width: 40px;
    height: 40px;
}

.spin {
    transform: rotate(360deg);
    transition: 1s;
}