.header {
    background-color: var(--main__color);
    color: var(--secondary__color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.logo {
    color: var(--secondary__color);
}

.logo__container{
    display: flex;
}

.logo__img { 
    margin-right: 9px;
    margin-top: 17px;
    width: 93px;
    height: 38px;
    /* fill: var(--secondary__color); */
    stroke: var(--secondary__color);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 17px; 
}

.interactive {
    display: flex;
}

.header__arrow {
    margin-left: 8px;
    transition: all 300ms ease-in-out;
}

.nav__list__item:first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__list__item:last-child {
    margin-right: 261px;
}

.submenu__list {
    position: absolute;
    top: 105%;
    display: none;
    
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #000;
    border-top: none;
    
    overflow: hidden;
}

.nav__list__item:first-child:hover .submenu__list {
    display: block;
}

.nav__list__item:first-child:hover .header__arrow {
    transform: rotate(180deg);
}

.submenu__item {
    padding: 10px 40px;
    color: var(--secondary__color);
}

.submenu__item:hover {
    background-color: #F1F1F1;
}

.submenu__btn {
    border: none;
    background-color: transparent;
}

.submenu__btn:hover {
    outline: none;
}

.switch__theme {
    margin-top: 17px;
    cursor: pointer;
}

.greeting {
    margin-top: 17px;
}