.choices__score__container {
    display: flex;
    margin-left: 417px;
}

.rps__list {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-right: 104px;
}

.rps__item {}

.rps__list__btn {
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rps__list__btn:hover {
    border: 2px solid rgb(18, 180, 18);
}

.score__container {
    display: block;
    color: var(--secondary__color);
}

.score {}

.score__computer {}

.score__player {}

.rps__btn {
    display: block;
    margin: 0 auto;
    width: 182px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--secondary__color);
    color: var(--main__color);
    font-family: "Montserrat Alternates";
    font-size: 12px;
}

.rps__btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.winner {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--secondary__color);
}