.time-calc-section {

}

.time-title {
    margin-bottom: 36px;
}

.time-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 33px;
}

.time-box {
    display: flex;
    align-items: center;

    height: 35px;
}

.time-input {
    width: 94px;
}

.time-input-box {
    width: 151px;
}

.search-button {

}

.lupa {

}

.time-dots {
    margin-right: 33px;
}

.time-text {

}