.time-title {
    margin-bottom: 36px;
}

.time-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 33px;
}

.time-box {
    display: flex;
    align-items: center;

    height: 35px;
}

.time-input {
    width: 94px;
}

.time-input-box {
    width: 151px;
}

.time-dots {
    margin-right: 33px;
}

.time-text {
    color: #900;
    text-align: right;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
}