<section class="calculator-section">
    <h2>Калькулятор</h2>
    <form class='calculator-form' action="">
        <input class="first-calculator-input" placeholder="Введіть число">
        <ul class="calculator-buttons-list">
            <li class="calculator-buttons-list-item"><button type="button" class="calculator-button plus">+</button></li>
            <li class="calculator-buttons-list-item"><button type="button" class="calculator-button multiply">*</button></li>
            <li class="calculator-buttons-list-item"><button type="button" class="calculator-button minus">-</button></li>
            <li class="calculator-buttons-list-item"><button type="button" class="calculator-button divide">/</button></li>
          </ul>
          

        <input class="second-calculator-input" placeholder="Введіть число">
        <button class="calculator-equals">=</button>




    </form>


    <p class="calculator-output">Результат<p>
</section>