<section class="calculator-section">
    <h2>Калькулятор</h2>
    <form action="">
        <input class="calculator-input" type="number" placeholder="Введіть число">
        <button class="calculator-button"></button>
        <button class="calculator-button"></button>
        <button class="calculator-button"></button>
        <button class="calculator-button"></button>
        <input class="calculator-input" type="number" placeholder="Введіть число">
        <button class="calculator-equals"></button>



    </form>


    <p class="calculator-output" type="number" placeholder="Результат"><p>
</section>