<section class="dino-section game">
    <h2>Google динозавр</h2>
    <div class="dino-container">
        <div class="dino-overlay">
            <p class="dino-score">
                0
            </p>
            <div class="game-over-window" id="loose">
                <p>Game over!</p>
            </div>
            <img src="/img/dino-img/dino-stationary.png" class="dino-player" id="dino-player">
            <img src="/img/dino-img/ground.png" class="dino-ground" data-ground>
            <img src="/img/dino-img/ground.png" class="dino-ground" data-ground>
        </div>
    </div>
    <button type="button" class="dino-start-button" id="start-game">
        Start
    </button>
</section>