<div class="enter-modal">
    <p class="enter-modal-text">Привіт! <br>
      Ви потрапили на сайт інтерактивних ігор та завдань <br>
      Надіємось, що вам сподобається і ви отримаєте позитивні емоції! <br>
      Бажаємо Вам гарно провести час!
    </p>
    <div class="enter-modal-container">
      <h3 class="enter-modal-title">Введіть своє ім’я:</h3>
      <form id="enter-modal-form" autocomplete="off">
        <input type="text" placeholder="Ваше ім’я...">
        <button type="button" class="enter-modal-button">Зберегти</button>
      </form>
    </div>
  </div>