<div class="modal-background">
  <div class="enter-modal">
      <button type="button" class="enter-modal-close">
        <img src="../img/close.svg" alt="">
      </button>
      <p class="enter-modal-text">Привіт! <br>
        Ви потрапили на сайт інтерактивних ігор та завдань <br>
        Надіємось, що вам сподобається і ви отримаєте позитивні емоції! <br>
        Бажаємо Вам гарно провести час!
      </p>
      <div class="enter-modal-container">
        <h3 class="enter-modal-title">Введіть своє ім’я:</h3>
        <form id="enter-modal-form" autocomplete="off">
          <input type="text" placeholder="Ваше ім’я...">
          <button type="button" class="enter-modal-button">Зберегти</button>
        </form>
      </div>
      
      <!-- <img src="../img/symbol-defs.svg#modal-icon-1" alt="" id="modal-icon-1">
      <img src="../img/symbol-defs.svg#modal-icon-2" alt="" id="modal-icon-2">
      <img src="../img/symbol-defs.svg#modal-icon-3" alt="" id="modal-icon-3">
      <img src="../img/symbol-defs.svg#modal-icon-4" alt="" id="modal-icon-4"> -->
    </div>
</div>