<section class="footer">
    <svg class="footer-logo-svg">
        <use class="footer-icon" href="/img/symbol-defs.svg#icon-Group-128-1"></use>
    </svg>
    <ul class="footer-list">
        <li class="footer-list-item">Тел: +38 (123) 456 78 90</li>
        <li class="footer-list-item">E-Mail: codingmagic@gmail.com</li>
        <li class="footer-list-item">Facebook: CodingMagic</li>
        <li class="footer-list-item">Twitter: CodingMagic</li>
        <li class="footer-list-item">Instagram: sanchousser</li>
    </ul>
        <form class="footer-subscribe">
            <input class="footer-input" placeholder='Ваша ел. адреса...'>
            <button type="button" class="footer-input-btn">Підписатись</button>
            <p class="footer-smalltext">*Підписавшись, Ви зможете ортимувати інформацію про новинки на сайті</p>
        </form>
</section>