<section class="guess__section">
  <h2 class="guess__title">Вгадай число, яке загадав комп’ютер</h2>
  <div class="input-box guess__input__box">
    <form id="guess__form" autocomplete="off">
      <input
        type="text"
        id="guess__input"
        class="guess__input"
        placeholder="Введіть число"
        data-min-length="1"
      />
      <button class="search-button" id="guess__btn" type="button">
        <img class="lupa" src="/img/lupa.png" alt="lupa" />
      </button>
    </form>
    <p id="text" class="guess__text">Введіть число від 1 до 10!</p>
  </div>
</section>
