<header class="header">
  <nav class="nav">
    <div class="container">
      <a href="" class="logo">
        <div class="logo__container">
          <img src="/img/logo.svg" alt="logo" class="logo__img" />
          <div class="logo__text">
            <p class="logo__coding">Coding</p>
            <p class="logo__magic">Magic</p>
          </div>
        </div>
      </a>
      <ul class="nav__list">
        <li class="nav__list__item interactive">
          <a href=""
            >Інтерактив<img
              src="/img/arrow below.svg"
              alt="arrow"
              class="header__arrow"
          /></a>
        </li>
        <li class="nav__list__item"><a href="">Наша команда</a></li>
        <li class="nav__list__item"><a href="">Контакти</a></li>
      </ul>
      <img src="/img/day mode.svg" alt="day mode" class="day__mode" />
      <img src="/img/night mode.svg" alt="night mode" class="night__mode" />
      <p class="greeting">Вітаємо, <span id="user__name">User</span></p>
    </div>
  </nav>
</header>
