<header class="header">
  <nav class="nav">
    <div class="container header__container">
      <a href="" class="logo">
        <div class="logo__container">
          <!-- <img src="/img/logo.svg" alt="logo" class="logo__img" /> -->
          <svg class="logo__img">
            <use href="/img/symbol-defs.svg#icon-logo-icon"></use>
          </svg>
        </div>
      </a>
      <ul class="nav__list">
        <li class="nav__list__item">
          <a class="interactive" href=""
            >Інтерактив
            <img src="/img/arrow below.svg" alt="arrow" class="header__arrow"
          /></a>
          <ul class="submenu__list">
            <li class="submenu__item">
              <button type="button" class="submenu__btn" data-h="numerical">Числовий</button>
            </li>
            <li class="submenu__item">
              <button type="button" class="submenu__btn" data-h="game">Ігровий</button>
            </li>
            <li class="submenu__item">
              <button type="button" class="submenu__btn" data-h="acquaintance">Ознайомчий</button>
            </li>
          </ul>
        </li>
        <li class="nav__list__item"><a href="#team">Наша команда</a></li>
        <li class="nav__list__item"><a href="#footer">Контакти</a></li>
      </ul>
      <img
        src="/img/day-mode.svg"
        alt="day-mode"
        class="switch__theme"
        id="icon"
      />
      <p class="greeting">Вітаємо, <span id="user__name">User!</span></p>
    </div>
  </nav>
</header>
