<section class="scientist-section">
    <h2 class="scientist-title">Обери вченого/их</h2>

    <div class="scientist-container">
        <ul class="scientist-card-list">
            <!-- <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li>
            <li class="scientist-card">
                <p class="scientist-card-text"></p>
            </li> -->
        </ul>

        <ul class="scientist-option-list">
            <li class="scientist-option-item">
                <button onclick="century()" type="button" class="scientist-option-button" id="century">Які вчені народилися в 19 ст.</button>
            </li>
            <li class="scientist-option-item">
                <button onclick="einshtein()" type="button" class="scientist-option-button" id="einshtein">Знайти рік народження Albert Einshtein</button>
            </li>
            <li class="scientist-option-item">
                <button onclick="alphabet()" type="button" class="scientist-option-button" id="alphabet">Відсортувати вчених за алфавітом</button>
            </li>
            <li class="scientist-option-item">
                <button onclick="surname()" type="button" class="scientist-option-button" id="surname">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
            </li>
            <li class="scientist-option-item">
                <button onclick="age()" type="button" class="scientist-option-button" id="age">Відсортувати вчених за кількістю прожитих років</button>
            </li>
            <li class="scientist-option-item">
                <button onclick="name()" type="button" class="scientist-option-button" id="name">Видалити всіх вчених, ім’я яких починається на “А”</button>
            </li>
            <li class="scientist-option-item">
                <button onclick="latest()" type="button" class="scientist-option-button" id="latest">Знайти вченого, який народився найпізніше</button>
            </li>
            <li class="scientist-option-item">
                <button onclick="longestAndSmallest()" type="button" class="scientist-option-button" id="longestAndSmallest">Знайти вченого, який прожив найдовше і вченого, <br> який прожив найменше</button>
            </li>
            <li class="scientist-option-item">
                <button onclick="lettersMatch()" type="button" class="scientist-option-button" id="lettersMatch">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
            </li>
        </ul>
    </div>
    
</section>