
<section>
  <h2 class="title">Наша команда</h2>
  


  <div class="swiper">
    <ul class=" swiper-wrapper">
      <li class="team-member swiper-slide">
        <img src="" alt="" class="team-swiper-img aleks" />
        <p class="team-swiper-name">Олександр</p>
        <p class="team-swiper-descr">
          Calculator, biggest number, footer
        </p>
      </li>
      <li class="team-member swiper-slide">
        <img src="" alt="" class="team-swiper-img roma" />
        <p class="team-swiper-name">Роман</p>
        <p class="team-swiper-descr">
          Header, rps, football
      </li>
      <li class="team-member swiper-slide">
        <img src="" alt="" class="team-swiper-img danya" />
        <p class="team-swiper-name">Даніл</p>
        <p class="team-swiper-descr">
          Check year, time calculator, scientists
        </p>
      </li>
      <li class="team-member swiper-slide">
        <img src="" alt="" class="team-swiper-img valera" />
        <p class="team-swiper-name">Валерій</p>
        <p class="team-swiper-descr">
          Our team, guess the number, dino
        </p>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next">
      <img src="../img/team-imgs/Vector 230.svg" alt="" />
    </div>
    <div class="swiper-button-prev">
      <img src="../img/team-imgs/Vector 231.svg" alt="" />
    </div>
  </div>
</section>