<section class="digits-section numerical" id="numbers">
  <h2 class="digits-title">Введіть 3 числа</h2>
  <form class="digits-form">
    <input
      type="text"
      class="digits-input first-digits-input"
      placeholder="Введіть число"
    />
    <input
      type="text"
      class="digits-input second-digits-input"
      placeholder="Введіть число"
    />
    <input
      type="text"
      class="digits-input third-digits-input"
      placeholder="Введіть число"
    />
  </form>
  <p class="digits-output">
    Найбільше число, яке ви ввели -
    <span class="digit-output-number">(число)</span>
  </p>
</section>
