<section class="time-calc-section">
    <h2 class="time-title">Калькулятор часу</h2>
    <div class="time-container">
        <div class="input-box time-input-box">
            <input type="text" placeholder="Введіть число" class="time-input">
            <button type="button" class="search-button time-btn-js">
                <img class="lupa" src="../img/lupa.svg" alt="">
            </button>
        </div>
        <svg class="time-dots" xmlns="http://www.w3.org/2000/svg" width="100" height="2" viewBox="0 0 100 2" fill="none">
            <path d="M0 1H100" stroke="black" stroke-dasharray="2 2"/>
        </svg>
        <p class="time-text">asd</p>
    </div>
</section>